<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Основные" visible="false">
		<setting id="url_site" type="text" label="URL" default="https://www.pimpletv.ru" visible="true" />		
		<setting id="selected_leagues" type="text" label="selected_leagues" default="0" visible="false" />		
		<setting label="Часовой пояс сайта" type="labelenum" id="time_zone_site" values="-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|0|1|2|3|4|5|6|7|8|9|10|11|12" default="3" />        
        <setting id="is_poster" type="bool" label="Создавать постеры" default="false" visible="true"/>
		<setting id="is_thumb" type="bool" label="Создавать миниатюры" default="false" visible="true"/>
		<setting id="is_fanart" type="bool" label="Создавать фанарты" default="false" visible="true"/>
        <setting id="delta_scan" type="number" label="Период обновления, мин." default="120" visible="true"/>
		<setting id="delta_links" type="number" label="Время до матча когда не будут парситься ссылки, мин." default="30" visible="true"/>        
		<setting id="is_play" type="bool" label="Воспроизвести сразу без выбора ссылок" default="false"/>
        <setting label="Ссылка по умолчанию для воспроизведения" type="labelenum" id="play_engine" values="Ace Stream|SopCast" default="Ace Stream" visible="eq(-1,true)" />
        <setting id="is_debug" type="bool" label="Включить отладочный режим" default="true" visible="false"/>		
		<setting id="reset" option="close" type="action" label="Обновление данных" action="RunPlugin(plugin://plugin.video.pimpletv?action=reset)" />
	</category>
	<category label="AceStream"> 
		<setting id="is_default_ace" type="bool" label="Использовать по-умолчанию способ воспроизведения AceStream" default="false"/>
		<setting label="Движок по-умолчанию" visible="true" type="enum" id="default_ace" values="Ace Stream Engine #1|Ace Stream Engine #2|HTTPAceProxy|TAM" default="Ace Stream Engine #1" />
		<setting type="sep"/>
		<setting type="lsep" label='Ace Stream Engine #1'/>
		<setting label = "IP"  type = "ipaddress"  id = "ipace1" default='127.0.0.1' />
		<setting id="is_hls1" type="bool" label="Использовать hls" default="false"/>
		<setting type="sep"/>
		<setting type="lsep" label='Ace Stream Engine #2'/>
		<setting label = "IP"  type = "ipaddress"  id = "ipace2" default='127.0.0.1' />
		<setting id="is_hls2" type="bool" label="Использовать hls" default="false"/>
		<setting type="sep"/>
		<setting type="lsep" label='HTTPAceProxy'/>
		<setting label = "IP"  type = "ipaddress"  id = "ipproxy" default='127.0.0.1' />
	</category>
</settings>
