<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Основные" visible="false">
		<setting id="url_site" type="text" label="URL" default="https://myfootball.top" visible="true" />		
		<setting id="selected_leagues" type="text" label="selected_leagues" default="0" visible="false" />		
		<setting label="Часовой пояс сайта" type="labelenum" id="time_zone_site" values="-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|0|1|2|3|4|5|6|7|8|9|10|11|12" default="3" />
		<setting id="is_http_link" type="bool" label="Сканировать прямые ссылки на трансляции" default="true" visible="true"/>
		<setting id="is_http_acesop" type="bool" label="Сканировать acestream и sopcast ссылки на трансляции" default="true" visible="true"/>		
		<setting id="is_debug" type="bool" label="Включить отладочный режим" default="true"/>
	</category>
	<category label="AceStream">
		<setting id="is_default_play" type="bool" label="Использовать движок по-умолчанию" default="false"/>
		<setting label="Движок по-умолчанию" visible="eq(-1,true)" type="enum" id="default_ace" values="Ace Stream Engine #1|Ace Stream Engine #2|HTTPAceProxy|TAM" default="Ace Stream Engine #1" />
		<setting type="sep"/>
		<setting type="lsep" label='Ace Stream Engine #1'/>
		<setting  label = "IP"  type = "ipaddress"  id = "ipace1" default='127.0.0.1' />
		<setting id="is_hls1" type="bool" label="Использовать hls" default="false"/>
		<setting type="sep"/>
		<setting type="lsep" label='Ace Stream Engine #2'/>
		<setting  label = "IP"  type = "ipaddress"  id = "ipace2" default='127.0.0.1' />
		<setting id="is_hls2" type="bool" label="Использовать hls" default="false"/>
		<setting type="sep"/>
		<setting type="lsep" label='HTTPAceProxy'/>
		<setting  label = "IP"  type = "ipaddress"  id = "ipproxy" default='127.0.0.1' />
	</category>
</settings>
